<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Certificado</title>
  <!-- <link rel="stylesheet" href="{% static 'css/certificado_pdf.css' %}"> -->
  <link rel="stylesheet" href="../../static/css/certificado_pdf.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>

  <body>
    <div class="certificado">
      <div class="titulo">
        Certificado
      </div>
      <div class="subtitulo">
        de Conclusão
      </div>

      <div style="font-size: 20px; text-align: center; margin-bottom: 32px; font-family: 'Georgia', serif;">
        A plataforma DevQuiz confere o presente certificado a
      </div>

      <div class="nome">
        <!-- {{ nome }} -->
        Henrique Palermo Emerick
      </div>

      <div class="descricao">
        pela conclusão e desempenho no curso<br>
        <span class="curso" style="font-size: 24px; color: #2e7d32; font-weight: bold;">Desenvolvimento Web com
          Django</span>
      </div>

      <div class="descricao">
        <!-- O participante obteve <strong style="color:#388e3c">{{ percentual_acertos }}%</strong> de acertos no quiz final -->
        O participante obteve <strong style="color:#388e3c">80%</strong> de acertos no quiz final
        de avaliação.<br>
        Ao atingir esse desempenho, demonstrou domínio dos conhecimentos abordados e está oficialmente certificado.
      </div>

      <div class="data">
        <!-- {{ data }} -->
        22/08/2025
      </div>

      <div class="assinatura">
        <div class="linha" style="width: 220px; border-bottom: 2px solid #388e3c; margin-bottom: 5px;">Devquiz</div>
        Plataforma DevQuiz
      </div>

      <div class="logo">
        <!-- <img src="data:image/png;base64,{{ logo_base64 }}" alt="Logo"> -->
        <img src="../../static/img/logo.png" alt="Logo">
      </div>
    </div>
  </body>
</body>

</html>