services:
  django:
    build: ./backend
    container_name: django
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/devquiz


  react:
    build: ./frontend/
    container_name: frontend
    command: npm run dev -- --host 0.0.0.0
    ports:
      - "5173:5173"
    depends_on:
      - django
    volumes:
      - ./frontend:/app
      - /app/node_modules
  