<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Certificado</title>
  <link rel="stylesheet" href="../../static/css/certificado_pdf.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>

  <body>
    <div class="certificado">
      <div class="titulo">
        Certificado
      </div>
      <div class="subtitulo">
        de Conclusão
      </div>

      <div style="font-size: 20px; text-align: center; margin-bottom: 32px; font-family: 'Georgia', serif;">
        A plataforma DevQuiz confere o presente certificado a
      </div>

      <div class="nome">
        <!-- {{ nome }} -->
        Henrique Palermo Emerick
      </div>

      <div class="descricao">
        pela conclusão e desempenho no curso<br>
        <span class="curso" style="font-size: 24px; color: #2e637d; font-weight: bold;">Programação Orientada a Objetos
          com Java</span>
      </div>

      <div class="descricao">
        O participante concluiu com êxito o quiz final de avaliação.
        Ao atingir o desempenho necessário, demonstrou domínio dos conteúdos abordados e recebeu o certificado oficial.
      </div>

      <div class="data">
        <!-- {{ data }} -->
        22/08/2025
      </div>
      <div class="codigo">
        Código: 
      </div>

      <div class="assinatura">
        <div class="linha" style="width: 220px; border-bottom: 2px solid #385f8e; margin-bottom: 5px;">Devquiz</div>
        Plataforma DevQuiz
      </div>

      <div class="logo">
        <img src="../../static/img/logo/logo-teste.png" alt="Logo">
      </div>
    </div>
  </body>
</body>

</html>